{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block content
%}
<h1>Chat</h1>
<div id="chatbox">
  <div id="messages"></div>
  <form id="chatForm" onsubmit="sendMessage(event)">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input
      type="text"
      id="userInput"
      placeholder="Digite sua mensagem"
      required
    />
    <button type="submit" id="sendButton">Enviar</button>
  </form>
</div>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
