{% extends "base.html" %} {% block title %}Planos{% endblock %} {% block content
%}
<div class="container mt-5">
  <h2 class="text-center">Nossos Planos</h2>
  <div class="row mt-4">
    <!-- Planos de Assinatura -->
    <div class="col-md-4">
      <h3 class="text-center">Planos de Assinatura</h3>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Mensal Padrão</h4>
          <p>Preço: R$30/mês</p>
          <p>Benefícios:</p>
          <ul>
            <li>5000 tokens por mês</li>
            <li>Suporte por email</li>
          </ul>
          <a
            href="https://buy.stripe.com/test_5kAg28fAI9Dd2uA8wy"
            class="btn btn-success"
            target="_blank"
            >Assinar</a
          >
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Mensal Premium</h4>
          <p>Preço: R$50/mês</p>
          <p>Benefícios:</p>
          <ul>
            <li>10000 tokens por mês</li>
            <li>Suporte prioritário</li>
          </ul>
          <a
            href="https://buy.stripe.com/test_eVaaHO88g9Ddc5a5kk"
            class="btn btn-success"
            target="_blank"
            >Assinar</a
          >
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Anual Padrão</h4>
          <p>Preço: R$300/ano</p>
          <p>Benefícios:</p>
          <ul>
            <li>5000 tokens por mês</li>
            <li>Suporte por email</li>
          </ul>
          <a
            href="https://buy.stripe.com/test_eVa6ryewE5mX4CI3cd"
            class="btn btn-success"
            target="_blank"
            >Assinar</a
          >
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Anual Premium</h4>
          <p>Preço: R$500/ano</p>
          <p>Benefícios:</p>
          <ul>
            <li>10000 tokens por mês</li>
            <li>Suporte prioritário</li>
          </ul>
          <a
            href="https://buy.stripe.com/test_28odU01JS7v58SYbIL"
            class="btn btn-success"
            target="_blank"
            >Assinar</a
          >
        </div>
      </div>
    </div>
    <!-- Planos de Tokens Extras e Empresas -->
    <div class="col-md-4">
      <h3 class="text-center">Compra de Tokens Extras</h3>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">1000 Tokens</h4>
          <p>Preço: R$10</p>
          <a
            href="https://buy.stripe.com/test_3cs6ryago16H2uAaEI"
            class="btn btn-primary"
            target="_blank"
            >Comprar</a
          >
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">10.000 Tokens</h4>
          <p>Preço: R$100</p>
          <a
            href="https://buy.stripe.com/test_14keY4fAIbLl8SY5kp"
            class="btn btn-primary"
            target="_blank"
            >Comprar</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Empresas</h3>
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Nos chame pelo WhatsApp</h4>
          <p>A combinar</p>
          <a
            href="https://buy.stripe.com/test_3cs6ryago16H2uAaEI"
            class="btn btn-success"
            target="_blank"
            >Chamar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
