{% extends "base.html" %} {% block title %}Atualizar Senha{% endblock %} {%
block content %}
<div class="container mt-5">
  <h2 class="text-center">Atualizar Senha</h2>
  <form method="POST" class="mt-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3">
      <label for="old_password" class="form-label">Senha Antiga</label>
      <input
        type="password"
        class="form-control"
        id="old_password"
        name="old_password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="new_password" class="form-label">Nova Senha</label>
      <input
        type="password"
        class="form-control"
        id="new_password"
        name="new_password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Atualizar</button>
  </form>
</div>
{% endblock %} {% endblock %}
