{% extends "base.html" %} {% block title %}Criar Empresa{% endblock %} {% block
content %}
<h1>Criar Empresa</h1>
<form method="POST" action="{{ url_for('admin.create_company') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="mb-3">
    <label for="name" class="form-label">Nome da Empresa</label>
    <input type="text" class="form-control" id="name" name="name" required />
  </div>
  <div class="mb-3">
    <label for="user_limit" class="form-label">Limite de Usuários</label>
    <input
      type="number"
      class="form-control"
      id="user_limit"
      name="user_limit"
      required
    />
  </div>
  <div class="mb-3">
    <label for="token_limit" class="form-label">Limite de Tokens</label>
    <input
      type="number"
      class="form-control"
      id="token_limit"
      name="token_limit"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Criar</button>
</form>
{% endblock %}
